.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;

}

a{
    text-decoration: none;
    color: red;
}

li{
    list-style-type: none;
    /* background-color: white; */
}

.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;    /*to move the items over main axis justify-content and for cross axis it is align-items*/
    align-items: center;
}

.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
}